@import "./scss/config.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: $fontBase, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: $defaultFountSize;
  font-weight: $fontWeigth;
  background: $background;
  color: white;
}

textarea,
input {
  font-family: $fontBase;
}
a {
  color: inherit;
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
::-webkit-scrollbar {
  height: 16px;
  background-color: $background;
}
::-webkit-scrollbar-thumb {
  height: 8px;
  background-color: $background-dark;
}
