$defaultFountSize: 16px;

$fontBase: "Roboto";
$fontWeigth: 600;

$primary-color: #373c92;
$background: #0f1132;
$background-dark: #08091d;

//Breakpoints
$small: 480px;
$medium: 768px;
$large: 1025px;
$x-large: 1400px;

@mixin from($size) {
  @media screen and (min-width: $size) {
    @content;
  }
}
